//Colors
$blog:  #e17b77;
$facebook: #3b5998;
$twitter: #00aced;
$linkedin: #007bb6;
$github: #333;
$background: #c3cfe2;
$card-top: #fff;
$card-botom: #686de0;
$overlay-color: rgb(45, 44, 63);
$text-color: rgb(80, 78, 78);
$website: #a9abe9;

