@mixin responsive(){
    max-width: 350px;
    height:100%;
}
@mixin round-photo($size){
    width: $size;
    height: 1.05*$size;
    border: 5px solid white;
    border-radius: 100px;
    margin: 30px;
}
@mixin text-style($size){
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: $size;
    line-height: 1.5em;
}
@mixin flexCenter($direction){
    display: flex;
    align-items: center;
    flex-direction: $direction;
}
@mixin box-top(){
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@mixin box-bottom(){
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}